@model Periodo_facturacion.Models.Periodo
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <title></title>
</head>
<body>
    <div class="row">
        @using (Html.BeginForm("/Index", "Periodo", FormMethod.Post))
        {
        <div class="form-horizontal ">
            <h1 class="display-4">Calendario de facturación</h1>
            <div class="container">
                <div class="row">
                    <div class='col-md-10'>
                        <div class="form-group">
                            <label for="FechaInicial" class="form-label">Fecha inicial</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="FechaInicial" name="FechaInicial" value="@Model.FechaInicial" required pattern="\d{2}/\d{2}/\d{4}" />
                            </div>
                        </div>
                    </div>
                    <div class='col-md-10'>
                        <div class="form-group">
                            <label for="FechaFinal" class="form-label">Fecha final</label>
                            <div class='input-group date'>
                                <input type='date' class="form-control" id="FechaFinal" name="FechaFinal" value="@Model.FechaFinal" required />
                            </div>
                        </div>
                    </div>


                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="periodoSelect" class="form-label">Periodo</label>
                            <select id="periodo" name="Periodicidad" value="@Model.Periodicidad" class="form-select" aria-label="Selecciona un periodo">
                                <option value="1">Mensual</option>
                                <option value="2">Bimestral</option>
                                <option value="3">Semestral</option>
                                <option value="4">Anual</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="diaCorte" class="form-label">Día de corte </label>
                            <input class="form-control" type="number" id="DiaCorte" name="DiaCorte" value="@Model.DiaCorte" min="1" max="31" placeholder="" aria-label="default input example" required>
                        </div>
                    </div>


                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="diaImpresion" class="form-label">Día de impresión </label>
                            <input class="form-control" type="number" id="DiaImpresion" name="DiaImpresion" value="@Model.DiaImpresion" min="1" max="31" placeholder="" aria-label="default input example" required>
                        </div>
                    </div>


                    <div class="col-md-10">
                        <div class="form-group">


                            <button class="btn btn-primary" type="submit" id="generar " value="generar" name="generarPeriodo">Generar periodos</button>
                        </div>
                    </div>


                </div>

               

            </div>
          

            </div>
        }
       

    </div>
</body>
</html>
